# for baoyu-image-gen
# OpenAI
OPENAI_API_KEY=sk-xxx
OPENAI_IMAGE_MODEL=gpt-image-1.5
# OPENAI_BASE_URL=https://api.openai.com/v1

# Google
GOOGLE_API_KEY=
GOOGLE_IMAGE_MODEL=gemini-3-pro-image-preview
# GOOGLE_BASE_URL=https://generativelanguage.googleapis.com/v1beta

# DashScope（阿里通义万相）
DASHSCOPE_API_KEY=sk-xxx
DASHSCOPE_IMAGE_MODEL=qwen-image-2512
# DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com
# ----------------------

# for baoyu-post-to-wechat [发布到微信公众号草稿箱 - 社区版，从本机发出]
WECHAT_APP_ID=
WECHAT_APP_SECRET=
# -----------------------

# for tentacle-markdown2html tentacle-post2wechat [发布到微信公众号草稿箱 - 企业版，使用在线服务器]
API_KEY=tentacle-xxx
TENTACLE_BASE_URL=https://api.tentacle.pro
# -----------------------